@import "normalize";

.group:after{
	content: '';
	display: table;
	clear: both;
}
html{
	*{
		box-sizing: border-box;
	}
}
#bodyContainer{
	width: 1080px;
	margin: 0 auto;
}

.cPrimary{
	background-color: rgba(255,255,255,.4);
	width: 45%;
}

.cSupporting{
	h2{
		box-shadow: 0 5px 3px 3px rgba(0, 0, 0, .2);
		text-align: center;
	}
	ul{
		padding: 0 12.5%;
		width: 100%;
	}
	li{
		float: left;
		width: 25%;
		text-align: center;
	}
}